{% capture tocWorkspace %}
    {% comment %}
        Table of Contents - автоматическая генерация оглавления для длинных постов
        Использование: {% include toc.html html=content sanitize=true class="toc" id="toc" %}
    {% endcomment %}

    {% capture my_toc %}{% endcapture %}
    {% assign minHeader = include.h_min | default: 2 %}
    {% assign maxHeader = include.h_max | default: 3 %}
    {% assign nodes = include.html | split: '<h' %}
    {% assign firstHeader = true %}

    {% for node in nodes %}
        {% if node == "" %}
            {% continue %}
        {% endif %}

        {% assign headerLevel = node | replace: '"', '' | slice: 0, 1 | times: 1 %}

        {% if headerLevel < minHeader or headerLevel > maxHeader %}
            {% continue %}
        {% endif %}

        {% assign _workspace = node | split: '</h' %}
        {% assign header = _workspace[0] %}
        {% assign html = _workspace[0] | append: '</h' | append: _workspace[1] | split: '</h' | first | append: '</h' %}

        {% assign _id = header | strip_html | slugify %}
        {% assign _class = header | strip_html | truncate: 50 | escape %}

        {% if firstHeader %}
            {% assign firstHeader = false %}
            {% assign minHeader = headerLevel %}
        {% endif %}

        {% assign indentAmount = headerLevel | minus: minHeader %}
        {% assign _attrs = ' href="#' | append: _id | append: '"' %}

        {% for i in (1..indentAmount) %}
            {% assign my_toc = my_toc | append: '    ' %}
        {% endfor %}

        {% assign my_toc = my_toc | append: '- ' | append: _class | append: _attrs | append: '\n' %}
    {% endfor %}

    {% if include.class %}
        {% assign my_toc = my_toc | prepend: '{:' | append: include.class | append: '}' %}
    {% endif %}

    {% if include.id %}
        {% assign my_toc = my_toc | prepend: '{:' | append: include.id | append: '}' %}
    {% endif %}
{% endcapture %}{% assign tocWorkspace = '' %}

{% if my_toc != "" %}
<div class="toc-container" markdown="1">
#### Оглавление
{{ my_toc }}
</div>
{% endif %}
