<div id="giscus-container"
  data-giscus-repo="dominicusin/dominicusin.github.io-discussions"
  data-giscus-category="General"
  data-giscus-mapping="pathname"
  data-giscus-strict="0"
  data-giscus-reactions-enabled="1"
  data-giscus-input-position="top"
  data-giscus-lang="ru"
  data-giscus-theme="preferred_color_scheme"
  data-giscus-loading="lazy">
</div>
<script src="https://giscus.app/client.js"
  data-repo="dominicusin/dominicusin.github.io-discussions"
  data-repo-id="R_kgDOJ_7qkQ"
  data-category="General"
  data-category-id="DIC_kwDOJ_7qkQ4"
  data-mapping="pathname"
  data-strict="0"
  data-reactions-enabled="1"
  data-input-position="top"
  data-lang="ru"
  data-theme="preferred_color_scheme"
  data-loading="lazy"
  crossorigin="anonymous"
  async>
</script>
